<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
</head>
<body>
<h1>User Details</h1>
<form th:action="@{/save}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Name:</label>
    <input type="text" th:field="*{name}" /><br/>
    <label>Email:</label>
    <input type="text" th:field="*{email}" /><br/>
    <button type="submit">Save</button>
    <a href="/search">Cancel</a>
</form>
</body>
</html>